@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Fjalla+One&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Cantarell', sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
}

.col-slider {
  flex: 1;
  order: 1;
  margin: 0;
  height: 900px;
}

.col-body {
  flex: 1;
  order: 2;
  margin: 5px;
}

@media screen and (max-width: 600px) {
  .col-slider {
    flex: 100%;
    order: 2;
  }
  .col-body {
    flex: 100%;
    order: 1;
  }
}

#top-bar {
  margin: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

#nav {
  flex: 1 0;
  margin: 30px 0;
}

#logo {
  max-height: 30px;
}

.hero > h1 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  font-size: 7vmax;
  margin: 5px 0;
  color: #000;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg,#FF6565,#58B3FF);
}

.hero > p {
  text-align: justify;
  margin: 5px 0;
  position: relative;
  top: -15px;
}

.button {
  font-weight: 600;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: 1em;
  color: #fff;
  border: 1px solid #58B3FF;
  /* border-radius: 4px; */
  background-color: #58B3FF;
  text-decoration: none;
  margin: 5px 0;
}

.button:hover {
  border-color: #FF6565;
  background-color: #FF6565;
}

.wired {
  background-color: unset;
  color: #666;
}

.wired:hover {
  background-color: unset;
  color: #FF6565;
}


.swiper {
  height: 100%;
}
.swiper img {
  object-fit: cover;
}
